body{

	background:url("../imagens/admin.jpg")no-repeat fixed; 
	background-size: 100%;
}

div#interface{
	background-color: rgba(0,0,0,0.8);
	width:500px;
	margin:0px auto;
	top: 200px;
	padding:10px;  
	position:relative;
	border:8px solid gray;
	border-radius: 15px;
	color: white;
}
div#rodape {
	position: absolute;
	bottom: 0px;
	left: 445px;
}
